.texto{
 text-align: center;
}

.buttonshow{
    color: rebeccapurple;
}
table{
    margin-top: 10%;
    margin-left: 40%;
    margin-right: auto;
}
td{
   letter-spacing: 2px;
   border: solid 1px; 
  
}