<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Document
        link(href="https://fonts.googleapis.com/css?family=Bitter:400,700&amp;subset=latin-ext" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500" rel="stylesheet")
        style
            include css/styleins.css
    body
        h1 Instruções do Quiz

        ul.disc
            li
                p O Quiz consiste em perguntas cuidadosamente projetadas para ajudá-lo a avaliar sua compreensão sobre o assunto apresentado no jogo.
                
            li
                p Cada pergunta no quiz é de múltipla escolha. Leia cada pergunta com atenção e clique no botão ao lado da sua resposta que é baseada nas informações abordadas no tema do quiz. Cada acerto resultará em uma nota imediatamente assim que apertar no botão resultado na parte inferior da tela.
            li
                p Depois de responder a uma pergunta e não tiver mais nenhuma dúvida que é a resposta correta, vá para a outra pergunta. Depois de responder a 10ª questão, clique em "Resultado" no fim da janela para obter a quantidade de pontos adquiridos.
            li 
                p Se você não alcançou uma nota boa, pressione o botão "Jogar Novamente" para tentar outra vez. Se você refizer o Quiz, todos os pontos adquiridos na rodada passada serão resetados.
            li 
                p A pontuação total do questionário é baseada em suas respostas a todas as perguntas. Se você responder incorretamente a uma pergunta ou refazer uma pergunta novamente e obtiver a resposta correta, sua pontuação do questionário refletirá de maneira apropriada. No entanto, o seu questionário não será avaliado se você pular uma pergunta ou sair antes de responder a todas as perguntas.


        a.btn(href='/') Pagina Inicial