<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        link(href="https://fonts.googleapis.com/css?family=Bitter:400,700&amp;subset=latin-ext" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500" rel="stylesheet")
        style 
            include css/sobre.css

        title Document
    body
        h1 Sobre

        
        div#text
            p Divisão de Tarefas e controle de projeto de desenvolvimento de Um Quiz
             br
            p IFPE-Instituto Federal de Edução, Ciência e Tecnologica de Pernambuco
             br
            p Curso Técnico de Informatica para Internet 
             br
            p   Lógica de Programação e Estrutura de Dados
             br
            p   Allan Diego Silva Lima
             br
            p   allan.lima@igarassu.ifpe.edu.br 
             br
            p   Versão 0.2 - 19/11/2018

            h3 Tarefas realizadas

            ul
                li Fazer o servidor funcional
                li Criar o escopo do html (menu e telas)
                li Elaborar formulario do quiz
                li Criar algoritmo em Javascript para cálculo de pontos do quiz
                li Criar o css e aplica-lo nas telas
            
            h3 Desenvolvedores

            p Morgana Fernandes
            p Pedro Santana
            p Arthur Evaristo
            p Johnatan Carneiro
            p Matheus Gonçalves

            br

        a.btn(href='/') Pagina Inicial