doctype html
html
	head
		meta(charset="UTF-8")
		title Quiz-Q10
		style
			include css/style.css

	body

		a#head(href='/')
			h1 Quiz

		p#10 10. A quem cabe treinar o trabalhador sobre o uso adequado do EPI ?

		div(class="container column")

			a.item(href="/q?op=1") O Empregado
			br

			a.item(href="/q?op=2") A CIPA
			br

			a.item(href="/q?op=3") O Empregador
			br

			a.item(href="/q?op=4") A SIPAT
			br