doctype html
html
	head
		meta(charset="UTF-8")
		title Quiz-Q4
		style
			include css/style.css

	body
		a#head(href='/')
			h1 Quiz

		p#4 4. O que significa LER ?

		div(class="container column")

			a.item(href="/q?op=1") Lesão por Esforço Reativo
			br

			a.item(href="/q?op=2") Lesão por Esforço Repetido
			br

			a.item(href="/q?op=3") Lesão por Esforço Regular
			br

			a.item(href="/q?op=4") Lesão por Esforço Repetitivo
			br