doctype html
html
	head
		meta(charset="UTF-8")
		title Quiz-Q6

		style
			include css/style.css

	body
		a#head(href='/')
			h1 Quiz

		p#6 6. Quais os limites minimos de tolerancia ao ruido ?

		div(class="container column")

			a.item(href="/q?op=1") 80 a 110
			br

			a.item(href="/q?op=2") 85 a 110
			br

			a.item(href="/q?op=3") 80 a 115
			br

			a.item(href="/q?op=4") 85 a 115
			br