doctype html
html
	head
		meta(charset="UTF-8")
		title Quiz-Q8
		style
			include css/style.css
	body

		a#head(href='/')
			h1 Quiz

		p#8 8. Um acontecimento indesejado, inesperado que provoca perda e chamado de:

		div(class="container column")

			a.item(href="/q?op=1") Acontecimento
			br

			a.item(href="/q?op=2") Incidente
			br

			a.item(href="/q?op=3") Imprevisto
			br

			a.item(href="/q?op=4") Acidente
			br