doctype html
html
	head
		meta(chatset="UTF-8")
		title Document
		link(href="https://fonts.googleapis.com/css?family=Bitter:400,700&amp;subset=latin-ext" rel="stylessheet")
		link(href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500" rel="stylesheet")
		style
			include css/style.css


	body
		a#head(href='/')
			h1 Quiz

		p#1 1. Respeqtivamente de quando é o adicional de periculosidade no grau maximo medio e minimo.

		a.container(href="/jogar/?q=1&op=1") 40% 30% 20%
		br

		a.container(href="/jogar/?q=1&op=2") 40% 30% 10%
		br

		a.container(href="/jogar/?q=1&op=3") 50% 30% 10%
		br

		a.container(href="/jogar/?q=1&op=4") 40% 20% 30%
		br

		p#2 2. O que significa NR ?

		a.container(href="/jogar/?q=2&op=1") Normas Regulares
		br

		a.container(href="/jogar/?q=2&op=2") Normas Regidas
		br

		a.container(href="/jogar/?q=2&op=3") Normas Regulamentadoras
		br

		a.container(href="/jogar/?q=2&op=4") Normas Regidas
		br

		p#3 3. Quantos são os Riscos Ambientais

		a.container(href="/jogar/?q=3&op=1") 5
		br

		a.container(href="/jogar/?q=3&op=2") 3
		br

		a.container(href="/jogar/?q=3&op=3") 4
		br

		a.container(href="/jogar/?q=3&op=4") 2
		br

		p#4 4. O que significa LER

		a.container(href="/jogar/?q=4&op=1") Lesão por Esforço Reativo
		br

		a.container(href="/jogar/?q=4&op=2") Lesão por Esforço Repetido
		br

		a.container(href="/jogar/?q=4&op=3") Lesão por Esforço Regular
		br

		a.container(href="/jogar/?q=4&op=4") Lesão por Esforço Repetitivo
		br

		p#5 5. Para que se aplica o adicional de periculosidade ?

		a.container(href="/jogar/?q=5&op=1") 40% 30% 20%
		br

		a.container(href="/jogar/?q=5&op=2") 40% 30% 10%
		br

		a.container(href="/jogar/?q=5&op=3") 50% 30% 10%
		br

		a.container(href="/jogar/?q=5&op=4") 40% 20% 30%
		br


		p#6 6. Quais os limites minimos de tolerancia ao ruido ?

		a.container(href="/jogar/?q=6&op=1") 80 a 110
		br

		a.container(href="/jogar/?q=6&op=2") 85 a 110
		br

		a.container(href="/jogar/?q=6&op=3") 80 a 115
		br

		a.container(href="/jogar/?q=6&op=4") 85 a 115
		br

		p#7 7. Qual é o significado da sigla CIPA ?

		a.container(href="/jogar/?q=7&op=1") Conselho Interno de Prevenção de Acidentes
		br

		a.container(href="/jogar/?q=7&op=2") Comite Interno de Prevenção de Acidentes
		br

		a.container(href="/jogar/?q=7&op=3") Comissão Interna de Participaçãp de Acidentes
		br

		a.container(href="/jogar/?q=7&op=4") Comissão Interna de Prevençao de Acidentes
		br

		p#8 8. Um acontecimento indesejado, inesperado que provoca perda e chamado de:

		a.container(href="/jogar/?q=8&op=1") Acontecimento
		br

		a.container(href="/jogar/?q=8&op=2") Incidente
		br

		a.container(href="/jogar/?q=8&op=3") Imprevisto
		br

		a.container(href="/jogar/?q=8&op=4") Acidente
		br

		p#9 9. Um acontecimento indesejado, inesperado que não provoca perda e chamado de:

		a.container(href="/jogar/?q=9&op=1") Acontecimento
		br

		a.container(href="/jogar/?q=9&op=2") Incidente
		br

		a.container(href="/jogar/?q=9&op=3") Imprevisto
		br

		a.container(href="/jogar/?q=9&op=4") Acidente
		br

		p#10 10. A quem cabe treinar o trabalhador sobre o uso adequado do EPI ?

		a.container(href="/jogar/?q=10&op=1") O Empregado
		br

		a.container(href="/jogar/?q=10&op=2") A CIPA
		br

		a.container(href="/jogar/?q=10&op=3") O Empregador
		br

		a.container(href="/jogar/?q=10&op=4") A SIPAT
		br


		a(href="/resultado")
			h2 Resultado