doctype html
html
	head
		meta(chaset="UTF-8")
		title Document
		style
			include css/style.css

	body

		h1 Resultado

		h2 Seu Resultado foi 
			span.num #{resul}/10

		if resul >= 6

			p.winner Parabens

		
		else 

			p.loser Tente Novamente

		a.btn(href="/") Pagina Inicial

