p#text{
    left: 50%;
}
a#head{
    text-decoration: none;
    color: black;
    position: relative;
    left: 45%;
    right: 55%;
    display: inline-block;

}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    width:90%;
    text-transform: uppercase;
    margin: 3% auto;
    
}
h1{
    font-family: 'Bitter', serif;
    font-size: 70px;
}
h3{
    font-family: 'Bitter', serif;
    font-size: 50px;
}
body{
    background-color: rgba(194, 217, 160, 0.85);
}
.center{
    text-align: center;
}
.tab{
	text-align: center;
	padding: 30px;
}
a{
	text-decoration: none;
	color: black;
}
.column{
    flex-direction: column;
    display: flex;
}
.container{
    max-width: 20%;
    margin: 70px auto;
    border: 0px solid black;
}

.item{
    flex: 1;
    margin: 10%;
    text-align: center;
    font-size: 2.0em;
    border: 0px solid black;
    border-radius: 5%;
    margin-top: 3%;
}

.item:hover{
    background-color: #455b24;
    
}

p#7 {
    margin: 1px auto;
}
