body{
    background-color: rgba(194, 217, 160, 0.85);
}
h1{
    font-family: 'Bitter', serif;
    font-size: 60px;
    text-align: center;
    width: 30px;
    font-weight:700;
    margin: 20px 0;
    
}
p{
	font-family: 'Roboto', sans-serif;
    font-size: 19px;
    text-align: center;
}
a{
	text-decoration: none;
}
div#rodape{
    height: 400px;
    position: absolute; left: 1200px;
    position: absolute;
    top: 700px;
    bottom: 10px;
}
button{
	top: 70%;
	position: absolute;
	background-color: #3f4f26;
	color: white;
	text-decoration: none;
	cursor: pointer;
	border : none;
	padding:  10px 20px;
	margin: 4px 2px;
}
#text{
   left: 45%;
}