doctype html
html
	head
		meta(charset="UTF-8")
		title Quiz-Q7
		style
			include css/style.css

	body

		a#head(href='/')
			h1 Quiz

		p.sete 7. Qual é o significado da sigla CIPA ?

		div(class="container column")

			a.item(href="/q?op=1") Conselho Interno de Prevenção de Acidentes
			br

			a.item(href="/q?op=2") Comite Interno de Prevenção de Acidentes
			br

			a.item(href="/q?op=3") Comissão Interna de Participação de Acidentes
			br

			a.item(href="/q?op=4") Comissão Interna de Prevençao de Acidentes
			br