doctype html
html
	head
		meta(charset="UTF-8")
		title Q1
		style
			include css/style.css

		

	body

		a#head(href='/')
			h1 Quiz

		p#1 1. Respeqtivamente de quando é o adicional de periculosidade no grau maximo medio e minimo.

		a.container(href="/q?op=1") 40% 30% 20%
		br

		a.container(href="/q?op=2") 40% 30% 10%
		br

		a.container(href="/q?op=3") 50% 30% 10%
		br

		a.container(href="/q?op=4") 40% 20% 30%
		br 
		br

		
