doctype html
html
	head
		meta(charset="UTF-8")
		title Q7
		style
			include css/style.css

	body

		a#head(href='/')
			h1 Quiz

		p#7 7. Qual é o significado da sigla CIPA ?

		a.container(href="/q?op=1") Conselho Interno de Prevenção de Acidentes
		br

		a.container(href="/q?op=2") Comite Interno de Prevenção de Acidentes
		br

		a.container(href="/q?op=3") Comissão Interna de Participaçãp de Acidentes
		br

		a.container(href="/q?op=4") Comissão Interna de Prevençao de Acidentes
		br