doctype html
html
	head
		meta(charset="UTF-8")
		title Q9
		style
			include css/style.css

	body
		a#head(href='/')
			h1 Quiz

		p#9 9. Um acontecimento indesejado, inesperado que não provoca perda e chamado de:

		a.container(href="/q?op=1") Acontecimento
		br

		a.container(href="/q?op=2") Incidente
		br

		a.container(href="/q?op=3") Imprevisto
		br

		a.container(href="/q?op=4") Acidente
		br