doctype html
html
	head
		meta(charset="UTF-8")
		title Q4
		style
			include css/style.css

	body
		a#head(href='/')
			h1 Quiz

		p#4 4. O que significa LER

		a.container(href="/q?op=1") Lesão por Esforço Reativo
		br

		a.container(href="/q?op=2") Lesão por Esforço Repetido
		br

		a.container(href="/q?op=3") Lesão por Esforço Regular
		br

		a.container(href="/q?op=4") Lesão por Esforço Repetitivo
		br