doctype html
html
	head
		meta(charset="UTF-8")
		title Q2
		style
			include css/style.css

	body

		a#head(href='/')
			h1 Quiz

		p#2 2. O que significa NR ?

		a.container(href="/q/?op=1") Normas Regulares
		br

		a.container(href="/q/?op=2") Normas Regidas
		br

		a.container(href="/q/?op=3") Normas Regulamentadoras
		br

		a.container(href="/q/?op=4") Normas Regidas
		br
		br

		