doctype html
html
	head
		meta(charset="UTF-8")
		title Quiz-Q3
		style
			include css/style.css

	body
		a#head(href='/')
			h1 Quiz

		p#3 3. Quantos são os Riscos Ambientais ?

		div(class="container column")

			a.item(href="/q?op=1") 5
			br

			a.item(href="/q?op=2") 3
			br

			a.item(href="/q?op=3") 4
			br

			a.item(href="/q?op=4") 2
			br

		
