doctype html
html
	head
		meta(charset="UTF-8")
		title Q10
		style
			include css/style.css

	body

		a#head(href='/')
			h1 Quiz

		p#10 10. A quem cabe treinar o trabalhador sobre o uso adequado do EPI ?

		a.container(href="/q?op=1") O Empregado
		br

		a.container(href="/q?op=2") A CIPA
		br

		a.container(href="/q?op=3") O Empregador
		br

		a.container(href="/q?op=4") A SIPAT
		br