p#text{
    left: 50%;
}
a#head{
    text-decoration: none;
    color: black;
     position: relative;
    left: 50%;
    right: 50%;
    background-color: background-color: #3f4f26;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    position: relative;
    left: 15%;
    
}
h1{
    font-family: 'Bitter', serif;
    font-size: 70px;
}
h3{
    font-family: 'Bitter', serif;
    font-size: 50px;
}
h2{

    position: relative;
    font-family: 'Roboto', sans-serif;
    margin: 10% auto;
    font-size: 50px;
    left: 35%; 
}

body{
    background-color: #b3ffff;
}
.center{
    text-align: center;
}
.tab{
	text-align: center;
	padding: 30px;
}
a{
	text-decoration: none;
	color: white;
}
button{
	background-color: #b3ffff;
	color: black;
	text-decoration: none;
	cursor: pointer;
	border : none;
	padding:  16px 32px;
    margin: 4px 2px;
    text-transform: uppercase;
}

.container {
    display: block;
    position: relative;
    top: 80%;
    left: 40%;
    right: 60%;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
	margin-left: auto;
    margin-right: auto;
    color: black;

}

.winner {

}


.loser{
    position:inline;
    margin: auto;
    left: 45%;

    -webkit-animation: fadeIn 3s ease-in-out;
    -moz-animation: fadeIn 3s ease-in-out;
    -o-animation: fadeIn 3s ease-in-out;
    animation: fadeIn 3s ease-in-out;
    animation-direction: alternate;

}

.num{
    font-size: 70px;
    text-transform: uppercase;
}

.btn{

    top: 85%;
    left: 45%;
    position: absolute;
    background-color: #b3ffff;
    color: black;
    text-decoration: none;
    cursor: pointer;
    border : none;
    padding:  10px 20px;
    margin: 4px auto;
    font-size: 30px;

}

    
@-webkit-keyframes ef-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes ef-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.ef-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.ef-pulse-grow:hover, .ef-pulse-grow:focus, .ef-pulse-grow:active {
  -webkit-animation-name: ef-pulse-grow;
  animation-name: ef-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}